<!-- HTML FILE -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Livechat</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mycss.css') }}"/>
</head>
<body>
    <nav class="navigation">
        <h1>Livechat</h1>
        <div class="menu">
            <a href="{{ url_for('index') }}">Introduction</a>
            <a href="{{ url_for('livechatt') }}">Livechat</a>
            <a href="{{ url_for('om_oss') }}">About us</a>
        </div>
        <a href="{{ url_for('logout') }}" class="navigation-button">Log out</a>
    </nav>

    <section class="kropp-upp">
        <h1>Welcome to our platform</h1>
        <p>Start a live chat and get quick answers. Discuss any topic you want.</p>
    </section>

    <section class="kropp-mitten">
        <h2>Offer</h2>
        <p>Our platform makes it easy to communicate, both with other users and with our smart chatbot. Get answers to your questions instantly, 24/7!</p>
    </section>

    <section class="kropp-nere">
      <h2>Categories</h2>
      <p>Create your own topics to talk about. It can be about technology, everyday life, or something completely unique. Here you set the tone for the conversation and invite others to join!</p>
    </section>
</body>

</html>
